<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>山姆钢琴</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="${request.contextPath}/resources/com/ballchen/education/public/css/normalize.css"/>
    <link rel="stylesheet" href="${request.contextPath}/resources/com/ballchen/education/public/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="${request.contextPath}/resources/com/ballchen/education/view/css/index.css"/>
</head>
<body>
<!--nav头部开始-->
<div class="ball-nav">
    <div class="ball-nav-container center_content">
        <a href="#" class="logo ball-nav-left"><img src="${request.contextPath}/resources/com/ballchen/education/public/images/logo.jpg" alt="山姆钢琴"/></a>
        <ul>
            <li><a href="#">首页</a></li>
            <li><a href="#">拜厄</a></li>
            <li><a href="#">车尔尼</a></li>
            <li><a href="#">社区</a></li>
        </ul>
        <div class="login">
            <a href="#" class="f_l">登陆</a><span class="f_l">|</span><a href="#" class="f_l">注册</a>
        </div>
    </div>
</div>
<!--nav头部结束-->
<!-- 广告轮播 -->
<div id="ad-carousel" class="carousel" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#ad-carousel" data-slide-to="0" class="active"></li>
        <li data-target="#ad-carousel" data-slide-to="1"></li>
        <li data-target="#ad-carousel" data-slide-to="2"></li>
        <li data-target="#ad-carousel" data-slide-to="3"></li>
        <li data-target="#ad-carousel" data-slide-to="4"></li>
    </ol>

    <div class="carousel-inner">
        <div class="item active">
            <img src="${request.contextPath}/resources/com/ballchen/education/view/images/piano-1.jpg" alt="1 slide">
            <div class="container">
                <div class="carousel-caption">
                    <h1>海上钢琴师：用音乐救赎孤独感</h1>

                    <p>《海上钢琴师》的英文片名为《The legend of 1900 》直译就是“1900的传奇……”</p>

                    <p><a class="btn btn-lg btn-primary" href="#" role="button" target="_blank">查看全文</a></p>
                </div>
            </div>
        </div>
        <div class="item">
            <img src="${request.contextPath}/resources/com/ballchen/education/view/images/piano-2.jpg" alt="2 slide">

            <div class="container">
                <div class="carousel-caption">
                    <h1>在肖邦心脏前脱帽</h1>

                    <p>从北京飞到波兰，机场的名字就是肖邦机场。在波兰的两天，走在街头，漫步在公园或者小巷深处，听到的或者看到的都是肖邦……</p>

                    <p><a class="btn btn-lg btn-primary" href="#" target="_blank" role="button">查看全文</a></p>
                </div>
            </div>
        </div>
        <div class="item">
            <img src="${request.contextPath}/resources/com/ballchen/education/view/images/piano-3.jpg" alt="3 slide">

            <div class="container">
                <div class="carousel-caption">
                    <h1>用膝盖行走的钢琴家</h1>

                    <p>她是一个不幸的女孩，出生于韩国一个不幸的家庭。她的父亲是一个下肢瘫痪的伤残军人，曾经为了止痛服用了10年的吗啡……</p>

                    <p><a class="btn btn-lg btn-primary" href="#" target="_blank" role="button">查看全文</a></p>
                </div>
            </div>
        </div>
        <div class="item">
            <img src="${request.contextPath}/resources/com/ballchen/education/view/images/piano-4.jpg" alt="4 slide">

            <div class="container">
                <div class="carousel-caption">
                    <h1>钢琴上的黑白左右手</h1>

                    <p>1983年春天，玛格丽特·帕崔克走进“东南老人疗养中心”，开始了她的疗养生活……</p>

                    <p><a class="btn btn-lg btn-primary" href="#" target="_blank" role="button">查看全文</a></p>
                </div>
            </div>
        </div>
        <div class="item">
            <img src="${request.contextPath}/resources/com/ballchen/education/view/images/piano-5.jpg" alt="5 slide">

            <div class="container">
                <div class="carousel-caption">
                    <h1>会弹钢琴的小狗</h1>

                    <p>主人有一只非常聪明又特别的小狗，因为它和别的小狗不一样，会弹钢琴哦。它的名字叫托利，主人是马戏团的老板……</p>

                    <p><a class="btn btn-lg btn-primary" href="#" target="_blank" role="button">查看全文</a></p>
                </div>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#ad-carousel" data-slide="prev"><span
            class="glyphicon glyphicon-chevron-left"></span></a>
    <a class="right carousel-control" href="#ad-carousel" data-slide="next"><span
            class="glyphicon glyphicon-chevron-right"></span></a>
</div>
<!--主要内容-->
<div class="container summary">
    <!--优秀作业-->
    <div id="veryGood" class="page-header">
        <h3><img class="excellent_cycle_img" src="${request.contextPath}/resources/com/ballchen/education/view/images/excellent-homework.png" alt="优秀作业" width="30" height="30">
        <a href="#">优秀作业</a></h3>
    </div>
    <div class="row" id="summary-container">
        <div class="col-md-2">
            <img class="img-rounded" src="${request.contextPath}/resources/com/ballchen/education/view/images/assignment-1.jpg" alt="assignment-1" width="150" height="150">
            <h4>小星星变奏曲</h4>
        </div>
        <div class="col-md-2">
            <img class="img-rounded" src="${request.contextPath}/resources/com/ballchen/education/view/images/assignment-2.jpg" alt="assignment-2" width="150" height="150">
            <h4>小星星变奏曲</h4>
        </div>
        <div class="col-md-2">
            <img class="img-rounded" src="${request.contextPath}/resources/com/ballchen/education/view/images/assignment-3.jpg" alt="assignment-3" width="150" height="150">
            <h4>夜的钢琴曲五</h4>
        </div>
        <div class="col-md-2">
            <img class="img-rounded" src="${request.contextPath}/resources/com/ballchen/education/view/images/assignment-4.jpg" alt="assignment-4" width="150" height="150">
            <h4>夜的钢琴曲五</h4>
        </div>
        <div class="col-md-2">
            <img class="img-rounded" src="${request.contextPath}/resources/com/ballchen/education/view/images/assignment-5.jpg" alt="assignment-5" width="150" height="150">
            <h4>夜的钢琴曲五</h4>
        </div>
        <div class="col-md-2">
            <img class="img-rounded" src="${request.contextPath}/resources/com/ballchen/education/view/images/assignment-6.jpg" alt="assignment-6" width="150" height="150">
            <h4>天空之城</h4>
        </div>
    </div>

    <!--课程-->
    <div class="page-header" id="course">
        <h3><img src="${request.contextPath}/resources/com/ballchen/education/view/images/sam-style.png" alt="Sam风采" width="30" height="30"><a href="#">Sam风采</a></h3>
    </div>
    <div class="tab-content">
        <div class="tab-pane active" id="tab-onetoone-course">
            <div class="row feature">
                <div class="col-md-4">
                    <div class="thumbnail">
                        <img src="${request.contextPath}/resources/com/ballchen/education/view/images/拜厄练习曲.jpg" alt="video-course-1">
                        <div class="caption">
                            <h3>拜厄练习曲</h3>
                            <p>拜厄练习曲十二至四十条的示范与讲解</p>
                            <p><a href="#" class="btn btn-primary" role="button">查看详情</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="thumbnail">
                        <img class="img-thumbnail" src="${request.contextPath}/resources/com/ballchen/education/view/images/sam弹的示范或致敬的曲目.jpg" alt="video-course-2">
                        <div class="caption">
                            <h3>sam弹的示范或致敬的曲目</h3>
                            <p>千本樱，土耳其进行曲，以及正在学习的加勒比海盗</p>
                            <p><a href="#" class="btn btn-primary" role="button">查看详情</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="thumbnail">
                        <img class="img-thumbnail" src="${request.contextPath}/resources/com/ballchen/education/view/images/贝加尔湖畔.jpg" alt="video-course-3"/>
                        <div class="caption">
                            <h3>贝加尔湖畔</h3>
                            <p>”在我的怀里，在你的眼里，那里春风沉醉....“</p>
                            <p><a href="#" class="btn btn-primary" role="button">查看详情</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane" id="tab-banke-course">
            <div class="row feature">
                <div class="col-md-4">
                    <div class="thumbnail">
                        <img src="${request.contextPath}/resources/com/ballchen/education/view/images/钢琴基本功.jpg" alt="video-course-1" width="448" height="228">
                        <div class="caption">
                            <h3>练习基本功的方法</h3>
                            <p>第一步：明白对错。先让大脑明白什么是正确的。</p>
                            <p><a href="#" class="btn btn-primary" role="button">查看详情</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="thumbnail">
                        <img src="${request.contextPath}/resources/com/ballchen/education/view/images/直播答疑课.png" alt="video-course-2" width="448" height="252">
                        <div class="caption">
                            <h3>直播答疑课</h3>
                            <p>为同学们解答在练习时感到困惑和迷茫的问题，传授自己多年修炼的经验</p>
                            <p><a href="#" class="btn btn-primary" role="button">查看详情</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="thumbnail">
                        <img src="${request.contextPath}/resources/com/ballchen/education/view/images/天空之城.jpg" alt="video-course-3" width="448" height="252"/>
                        <div class="caption">
                            <h3>天空之城</h3>
                            <p>经典轻音乐，满满的都是回忆....</p>
                            <p><a href="#" class="btn btn-primary" role="button">查看详情</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane" id="tab-video-course">
            <div class="row feature">
                <div class="col-md-4">
                    <div class="thumbnail">
                        <img src="${request.contextPath}/resources/com/ballchen/education/view/images/钢琴基本功.jpg" alt="video-course-1" width="448" height="228">
                        <div class="caption">
                            <h3>练习基本功的方法</h3>
                            <p>第一步：明白对错。先让大脑明白什么是正确的。</p>
                            <p><a href="#" class="btn btn-primary" role="button">查看详情</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="thumbnail">
                        <img src="${request.contextPath}/resources/com/ballchen/education/view/images/直播答疑课.png" alt="video-course-2" width="448" height="252">
                        <div class="caption">
                            <h3>直播答疑课</h3>
                            <p>为同学们解答在练习时感到困惑和迷茫的问题，传授自己多年修炼的经验</p>
                            <p><a href="#" class="btn btn-primary" role="button">查看详情</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="thumbnail">
                        <img src="${request.contextPath}/resources/com/ballchen/education/view/images/天空之城.jpg" alt="video-course-3" width="448" height="252"/>
                        <div class="caption">
                            <h3>天空之城</h3>
                            <p>经典轻音乐，满满的都是回忆....</p>
                            <p><a href="#" class="btn btn-primary" role="button">查看详情</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="page-header" id="study-plan">
        <h3><img src="${request.contextPath}/resources/com/ballchen/education/view/images/study-plan.png" alt="学习计划" width="30" height="30"><a href="#">学习计划</a></h3>
    </div>
    <div class="row" id="study-plan-content">
        <div class="paimai_list">
            <div class="paimai_content">
                <!--前言-->
                <div class="list_head1">
                    <div class="time_box" ><p>前言</p></div><!--<div class="time_content"><em></em><span></span></div>-->
                    <div class="clear"></div>
                </div>
                <div class="list_content">
                    <a href="#"><img src="../images/piano-basic-skill-1.jpg" width="520" height="198"/></a>
                    <dl>
                        <dt><h2>什么是基本功</h2></dt>
                        <dd class="pm_organ">想用钢琴弹出优美的乐曲，基本功是必须要学习的。所谓基本功就是正确的弹琴方法。</dd>
                    </dl>
                </div>
                <!--学习周期-->
                <div class="list_head1">
                    <div class="time_box" ><p>学习周期</p></div>
                    <div class="clear"></div>
                </div>
                <div class="list_content">
                    <a href="#"><img src="../images/piano-basic-skill-2.jpg" width="520" height="198" /></a>
                    <dl>
                        <dt><h2>关于基本功学习周期</h2></dt>
                        <dd class="pm_organ">
                            <p>基本功的学习周期按“月”划分。</p><br/>
                            <p>大部分进度正常的同学通过4个月的学习可以完成第一个阶段的课程。</p><br/>
                            <p>如果中间出差不能连续学习也可以暂停。</p><br/>
                        </dd>
                    </dl>
                </div>
                <!--如何学习-->
                <div class="list_head1">
                    <div class="time_box" ><p>如何学习</p></div>
                    <div class="clear"></div>
                </div>
                <div class="list_content">
                    <a href="#"><img src="../images/piano-basic-skill-3.jpg" width="520" height="198" /></a>
                    <dl>
                        <dt><h2>通过网络如何学习钢琴</h2></dt>
                        <dd class="pm_organ">
                            <p>通过网络学习，有效的降低了我们的学习成本，我们的学习理念是每天学习一点点。</p><br/>
                            <p>基本功的学习是需要积累的，每天学习1个知识点，每天练习一首简单的练习曲。</p><br/>
                            <p>每天发作业给老师，每天去解决一个问题。</p><br/>
                            <p>学习效率会比传统面授课程高的多。</p>
                        </dd>
                    </dl>
                </div>
                <!--在哪学习-->
                <div class="list_head1">
                    <div class="time_box" ><p>在哪学习</p></div>
                    <div class="clear"></div>
                </div>
                <div class="list_content">
                    <a href="#"><img src="../images/piano-basic-skill-4.jpg" width="520" height="198" /></a>
                    <dl>
                        <dt><h2>关于我们的教学安排</h2></dt>
                        <dd class="pm_organ">
                            <p>每个付费学员都会拥有一个班级，每个班级不超过40人。</p><br/>
                            <p>老师通过QQ群视频授课，集体授课，1对1解答同学的问题，回复同学的作业。</p><br/>
                            <p>如果落下了直播课也有录播课程可以观看。只要有时间就能随时随地学钢琴。</p>
                        </dd>
                    </dl>
                </div>
                <!--关于学费-->
                <div class="list_head1">
                    <div class="time_box" ><p>关于学费</p></div>
                    <div class="clear"></div>
                </div>
                <div class="list_content">
                    <a href="#"><img src="../images/piano-basic-skill-5.jpg" width="520" height="198" /></a>
                    <dl>
                        <dt><h2>我们的收费制度</h2></dt>
                        <dd class="pm_organ">
                            <p>学费每个月100元-200元不等。</p><br/>
                            <p>1个月的高品质学习付出的费用只等于线下钢琴老师1节课的课时费。</p>
                        </dd>
                    </dl>
                </div>
                <!--定期活动-->
                <div class="list_head1">
                    <div class="time_box" ><p>定期活动</p></div>
                    <div class="clear"></div>
                </div>
                <div class="list_content">
                    <a href="#"><img src="../images/piano-basic-skill-7.jpg" width="520" height="198" /></a>
                    <dl>
                        <dt><h2>我们平时的集体活动</h2></dt>
                        <dd class="pm_organ">
                            <p>每周末除了正常的课程和作业回复外，周末会进行周学习总结。</p><br/>
                            <p>把一周学习的重点内容更细致的剖析复习。</p><br/>
                            <p>月末进行汇报演出，让同学试胆，避免弹琴见光死的悲剧。</p>
                        </dd>
                    </dl>
                </div>
                <!--学习效果-->
                <div class="list_head1">
                    <div class="time_box" ><p>学习效果</p></div>
                    <div class="clear"></div>
                </div>
                <div class="list_content">
                    <a href="#"><img src="../images/piano-basic-skill-6.jpg" width="520" height="198" /></a>
                    <dl>
                        <dt><h2>通过学习，达到的效果</h2></dt>
                        <dd class="pm_organ">
                            <p>经过4个月的课程，大部分同学都能够在识谱、手型等方面获得较系统的学习。</p><br/>
                            <p>具备自学大部分非炫技的流行歌曲、流行钢琴曲并用正确的方式演奏出来的能力。</p><br/>
                            <p>家里的钢琴终于不是摆设了，也圆了自己从小的钢琴梦。</p>
                        </dd>
                    </dl>
                </div>
                <!--                    <div class="list_head1">
                                        <div class="time_box" ><p></p></div>
                                        <div class="clear"></div>
                                    </div>-->
            </div>
        </div>
    </div>
    <!-- 关于 -->
    <div class="modal fade" id="about-modal" tabindex="-1" role="dialog" aria-labelledby="modal-label"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span
                            aria-hidden="true">&times;</span><span class="sr-only">关闭</span></button>
                    <h4 class="modal-title" id="modal-label">关于</h4>
                </div>
                <div class="modal-body">
                    <p>大家好，我是Sam，是一名钢琴老师，幽默风趣，教学认真。</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">了解了</button>
                </div>
            </div>
        </div>
    </div>

    <footer class="modal-footer">
        <p class="pull-right"><a href="#top">回到顶部</a></p>
        <p>&copy; 2016 纯属娱乐，哈哈哈哈哈！！！ </p>
    </footer>
</div>
</body>
<script type="text/javascript">
    var contextPath = "${request.contextPath}";
</script>
<script type="text/javascript" src="${request.contextPath}/resources/com/ballchen/education/public/js/seajs/sea.js"></script>
<script type="text/javascript" src="${request.contextPath}/resources/com/ballchen/education/public/js/public.js"></script>
<script type="text/javascript">
    seajs.use("view/js/index")
</script>
<script type="text/javascript" src="${request.contextPath}/resources/com/ballchen/education/view/js/index.js"></script>
</html>