<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ballchen.education.course.dao.ICourseChapterDAO" >
  <resultMap id="BaseResultMap" type="com.ballchen.education.course.entity.CourseChapter" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="CHAPTER_NAME" property="chapterName" jdbcType="VARCHAR" />
    <result column="CHAPTER_TYPE" property="chapterType" jdbcType="VARCHAR" />
    <result column="PLAN_BEGIN_TIME" property="planBeginTime" jdbcType="TIMESTAMP" />
    <result column="PLAN_END_TIME" property="planEndTime" jdbcType="TIMESTAMP" />
    <result column="REAL_BEGIN_TIME" property="realBeginTime" jdbcType="TIMESTAMP" />
    <result column="REAL_END_TIME" property="realEndTime" jdbcType="TIMESTAMP" />
    <result column="COURSE_ID" property="courseId" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, CREATE_TIME, CHAPTER_NAME, CHAPTER_TYPE, PLAN_BEGIN_TIME,
    PLAN_END_TIME, REAL_BEGIN_TIME, REAL_END_TIME, COURSE_ID
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from ballchen_t_course_chapter
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from ballchen_t_course_chapter
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.ballchen.education.course.entity.CourseChapter" >
    insert into ballchen_t_course_chapter (ID, CREATE_TIME, CHAPTER_NAME, 
      CHAPTER_TYPE, PLAN_BEGIN_TIME,
      PLAN_END_TIME,REAL_BEGIN_TIME,REAL_END_TIME,
      COURSE_ID)
    values (#{id,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP},#{chapterName,jdbcType=VARCHAR},
      #{chapterType,jdbcType=VARCHAR},#{planBeginTime,jdbcType=TIMESTAMP},#{planEndTime,jdbcType=TIMESTAMP},
      #{realBeginTime,jdbcType=TIMESTAMP},#{realEndTime,jdbcType=TIMESTAMP},#{courseId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ballchen.education.course.entity.CourseChapter" >
    insert into ballchen_t_course_chapter
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="chapterName != null" >
        CHAPTER_NAME,
      </if>
      <if test="chapterType != null" >
        CHAPTER_TYPE,
      </if>
      <if test="planBeginTime != null" >
        PLAN_BEGIN_TIME,
      </if>
      <if test="planEndTime != null" >
        PLAN_END_TIME,
      </if>
      <if test="realBeginTime != null" >
        REAL_BEGIN_TIME,
      </if>
      <if test="realEndTime != null" >
        REAL_END_TIME,
      </if>
      <if test="courseId != null" >
        COURSE_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="chapterName != null" >
        #{chapterName,jdbcType=VARCHAR},
      </if>
      <if test="chapterType != null" >
        #{chapterType,jdbcType=VARCHAR},
      </if>
      <if test="planBeginTime != null" >
        #{planBeginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="planEndTime != null" >
        #{planEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test="realBeginTime != null" >
        #{realBeginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="realEndTime != null" >
        #{realEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test="courseId != null" >
        #{courseId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ballchen.education.course.entity.CourseChapter" >
    update ballchen_t_course_chapter
    <set >
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="chapterName != null" >
        CHAPTER_NAME = #{chapterName,jdbcType=VARCHAR},
      </if>
      <if test="chapterType != null" >
        CHAPTER_TYPE = #{chapterType,jdbcType=VARCHAR},
      </if>
      <if test="planBeginTime != null" >
        PLAN_BEGIN_TIME = #{planBeginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="planEndTime != null" >
        PLAN_END_TIME = #{planEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test="realBeginTime != null" >
        REAL_BEGIN_TIME = #{realBeginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="realEndTime != null" >
        REAL_END_TIME = #{realEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test="courseId != null" >
        COURSE_ID = #{courseId,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ballchen.education.course.entity.CourseChapter" >
    update ballchen_t_course_chapter
    set CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      CHAPTER_NAME = #{chapterName,jdbcType=VARCHAR},
      CHAPTER_TYPE = #{chapterType,jdbcType=VARCHAR},
      PLAN_BEGIN_TIME = #{planBeginTime,jdbcType=TIMESTAMP},
      PLAN_END_TIME = #{planEndTime,jdbcType=TIMESTAMP},
      REAL_BEGIN_TIME = #{realBeginTime,jdbcType=TIMESTAMP},
      REAL_END_TIME = #{realEndTime,jdbcType=TIMESTAMP},
      COURSE_ID = #{courseId,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>