<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ballchen.education.course.dao.ICourseUserBasicDAO" >
  <resultMap id="BaseResultMap" type="com.ballchen.education.course.entity.CourseUserBasic" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="COURSE_ID" property="courseId" jdbcType="VARCHAR" />
    <result column="USER_BASIC_ID" property="userBasicId" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, CREATE_TIME, COURSE_ID, USER_BASIC_ID
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from ballchen_t_course_user_basic
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from ballchen_t_course_user_basic
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.ballchen.education.course.entity.CourseUserBasic" >
    insert into ballchen_t_course_user_basic (ID, CREATE_TIME, COURSE_ID, 
      USER_BASIC_ID)
    values (#{id,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{courseId,jdbcType=VARCHAR}, 
      #{userBasicId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ballchen.education.course.entity.CourseUserBasic" >
    insert into ballchen_t_course_user_basic
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="courseId != null" >
        COURSE_ID,
      </if>
      <if test="userBasicId != null" >
        USER_BASIC_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="courseId != null" >
        #{courseId,jdbcType=VARCHAR},
      </if>
      <if test="userBasicId != null" >
        #{userBasicId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ballchen.education.course.entity.CourseUserBasic" >
    update ballchen_t_course_user_basic
    <set >
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="courseId != null" >
        COURSE_ID = #{courseId,jdbcType=VARCHAR},
      </if>
      <if test="userBasicId != null" >
        USER_BASIC_ID = #{userBasicId,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ballchen.education.course.entity.CourseUserBasic" >
    update ballchen_t_course_user_basic
    set CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      COURSE_ID = #{courseId,jdbcType=VARCHAR},
      USER_BASIC_ID = #{userBasicId,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>