<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ballchen.education.account.dao.IAccountDAO" >
  <resultMap id="BaseResultMap" type="com.ballchen.education.account.entity.Account" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="ACCOUNT_NAME" property="accountName" jdbcType="VARCHAR" />
    <result column="PASSWORD" property="password" jdbcType="VARCHAR" />
    <result column="DENIED" property="denied" jdbcType="BIT" />
    <result column="MARK" property="mark" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, CREATE_TIME, ACCOUNT_NAME, PASSWORD,DENIED, MARK
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from ballchen_t_account
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <select id="getAccountPagination" resultMap="BaseResultMap" parameterType="com.ballchen.education.account.entity.Account">
      SELECT
      <include refid="Base_Column_List"/>
      FROM
      ballchen_t_account
      <trim prefix="where" prefixOverrides="and |or">
        <if test="createTime != null and endTime == null" >
          AND CREATE_TIME LIKE CONCAT('%',#{createTime,jdbcType=DATE},'%' )
        </if>
        <if test="createTime !=null and endTime !=null">
          AND CREATE_TIME BETWEEN #{createTime,jdbcType=DATE} AND #{endTime,jdbcType=DATE}
        </if>
        <if test="createTime ==null and endTime !=null">
          AND CREATE_TIME LIKE CONCAT('%',#{endTime,jdbcType=DATE},'%' )
        </if>
        <if test="accountName != null" >
          AND ACCOUNT_NAME LIKE CONCAT('%',#{accountName,jdbcType=VARCHAR},'%' )
        </if>
        <if test="denied != null">
          AND DENIED = #{denied,jdbcType=BIT}
        </if>
        <if test="mark != null" >
          AND MARK LIKE CONCAT('%',#{mark,jdbcType=VARCHAR},'%' )
        </if>
      </trim>
      ORDER BY CREATE_TIME ${order} LIMIT #{limit,jdbcType=INTEGER} OFFSET #{offset,jdbcType=INTEGER}
  </select>
  
  <select id="getAccountPaginationCount" resultType="java.lang.Long" parameterType="com.ballchen.education.account.entity.Account">
    SELECT
      COUNT(*)
    FROM
      ballchen_t_account
    <trim prefix="where" prefixOverrides="and |or">
      <if test="createTime != null and endTime == null" >
        AND CREATE_TIME LIKE CONCAT('%',#{createTime,jdbcType=DATE},'%' )
      </if>
      <if test="createTime !=null and endTime !=null">
        AND CREATE_TIME BETWEEN #{createTime,jdbcType=DATE} AND #{endTime,jdbcType=DATE}
      </if>
      <if test="createTime ==null and endTime !=null">
        AND CREATE_TIME LIKE CONCAT('%',#{endTime,jdbcType=DATE},'%' )
      </if>
      <if test="accountName != null" >
        AND ACCOUNT_NAME LIKE CONCAT('%',#{accountName,jdbcType=VARCHAR},'%' )
      </if>
      <if test="denied != null">
        AND DENIED = #{denied,jdbcType=BIT}
      </if>
      <if test="mark != null" >
        AND MARK LIKE CONCAT('%',#{mark,jdbcType=VARCHAR},'%' )
      </if>
    </trim>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from ballchen_t_account
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByIds" parameterType="java.util.Map" >
    delete from ballchen_t_account
    where ID IN (
      <foreach collection="ids" index="index" item="item" separator=",">
        #{item}
      </foreach>
    )
  </delete>
  <insert id="insert" parameterType="com.ballchen.education.account.entity.Account" >
    insert into ballchen_t_account (ID, CREATE_TIME, ACCOUNT_NAME, 
      PASSWORD, DENIED,MARK)
    values (#{id,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{accountName,jdbcType=VARCHAR}, 
      #{password,jdbcType=VARCHAR},#{denied,jdbcType=BIT},#{mark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ballchen.education.account.entity.Account" >
    insert into ballchen_t_account
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="accountName != null" >
        ACCOUNT_NAME,
      </if>
      <if test="password != null" >
        PASSWORD,
      </if>
      <if test="denied != null" >
        DENIED,
      </if>
      <if test="mark != null" >
        MARK,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="accountName != null" >
        #{accountName,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="denied != null" >
        #{denied,jdbcType=BIT},
      </if>
      <if test="mark != null" >
        #{mark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ballchen.education.account.entity.Account" >
    update ballchen_t_account
    <set >
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="accountName != null" >
        ACCOUNT_NAME = #{accountName,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        PASSWORD = #{password,jdbcType=VARCHAR},
      </if>
      <if test="denied != null" >
        DENIED = #{denied,jdbcType=VARCHAR},
      </if>
      <if test="mark != null" >
        MARK = #{mark,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ballchen.education.account.entity.Account" >
    update ballchen_t_account
    set CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      ACCOUNT_NAME = #{accountName,jdbcType=VARCHAR},
      PASSWORD = #{password,jdbcType=VARCHAR},
      DENIED = #{denied,jdbcType=BIT}
      MARK = #{mark,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="accessOrDeniedAccount" parameterType="java.util.Map" >
    update ballchen_t_account
    set DENIED = #{denied,jdbcType=BIT}
    where ID IN(
    <foreach collection="ids" index="index" item="item" separator=",">
      #{item}
    </foreach>
    )
  </update>

</mapper>