<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ballchen.education.user.dao.IUserBasicDAO" >
  <resultMap id="BaseResultMap" type="com.ballchen.education.user.entity.UserBasic" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="USER_NAME" property="userName" jdbcType="VARCHAR" />
    <result column="NICK_NAME" property="nickName" jdbcType="VARCHAR" />
    <result column="SEX" property="sex" jdbcType="BIT" />
    <result column="BIRTHDAY" property="birthday" jdbcType="TIMESTAMP" />
    <result column="EMAIL" property="email" jdbcType="VARCHAR" />
    <result column="ID_NUMBER" property="idNumber" jdbcType="VARCHAR" />
    <result column="PHONE" property="phone" jdbcType="VARCHAR" />
    <result column="HOME_PHONE" property="homePhone" jdbcType="VARCHAR" />
    <result column="ACCOUNT_ID" property="accountId" jdbcType="VARCHAR" />
    <result column="MARK" property="mark" jdbcType="VARCHAR" />
    <result column="REAL_NAME_VALID" property="realNameValid" jdbcType="BIT"/>
    <result column="DENIED" property="denied" jdbcType="BIT"/>
    <result column="DENIED_REASON" property="deniedReason" jdbcType="VARCHAR"/>
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.ballchen.education.user.entity.UserBasic" extends="BaseResultMap" >
    <result column="DESCRIPTION" property="description" jdbcType="LONGVARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithAccount" type="com.ballchen.education.user.entity.UserBasic" extends="ResultMapWithBLOBs">
      <association property="account" column="ACCOUNT_ID" select="com.ballchen.education.account.dao.IAccountDAO.selectByPrimaryKey"/>
  </resultMap>
  <resultMap id="ResultMapWithRoles" type="com.ballchen.education.user.entity.UserBasic" extends="ResultMapWithBLOBs">
    <collection property="roles" ofType="com.ballchen.education.security.entity.Role">
      <id column="ROLE_ID" property="id" jdbcType="VARCHAR" />
      <result column="ROLE_CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
      <result column="ROLE_NAME" property="roleName" jdbcType="VARCHAR" />
      <result column="ROLE_CODE" property="roleCode" jdbcType="VARCHAR" />
      <result column="ROLE_MARK" property="mark" jdbcType="VARCHAR" />
    </collection>
  </resultMap>
  <resultMap id="ResultMapWithAccountAndRoles" type="com.ballchen.education.user.entity.UserBasic" extends="ResultMapWithRoles">
    <association property="account" column="ACCOUNT_ID" select="com.ballchen.education.account.dao.IAccountDAO.selectByPrimaryKey"/>
  </resultMap>
  <sql id="Base_Column_List" >
    ID, CREATE_TIME, USER_NAME, NICK_NAME, SEX, BIRTHDAY, EMAIL, ID_NUMBER, PHONE, HOME_PHONE,
    ACCOUNT_ID, MARK,REAL_NAME_VALID,DENIED,DENIED_REASON
  </sql>
  <sql id="Blob_Column_List" >
    DESCRIPTION
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from ballchen_t_user_basic
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <select id="selectUserBasicWithRolesByPrimaryKey" resultMap="ResultMapWithAccountAndRoles" parameterType="java.lang.String">
    SELECT
    u.ID, u.CREATE_TIME, u.USER_NAME, u.NICK_NAME, u.SEX, u.BIRTHDAY, u.EMAIL, u.ID_NUMBER, u.PHONE, u.HOME_PHONE,
    u.ACCOUNT_ID, u.MARK,u.REAL_NAME_VALID,u.DENIED,u.DENIED_REASON,u.DESCRIPTION,r.ID AS ROLE_ID,r.CREATE_TIME AS ROLE_CREATE_TIME,
    r.ROLE_CODE,r.ROLE_NAME,r.MARK AS ROLE_MARK
    FROM
      ballchen_t_user_basic_role AS ur INNER JOIN ballchen_t_user_basic AS u ON ur.USER_BASIC_ID = u.ID INNER JOIN ballchen_t_role AS r ON ur.ROLE_ID = r.ID
    WHERE
      u.ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from ballchen_t_user_basic
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByIds" parameterType="java.util.Map" >
    delete from ballchen_t_user_basic
    where ID IN (
    <foreach collection="ids" index="index" item="item" separator=",">
      #{item}
    </foreach>
    )
  </delete>
  <insert id="insert" parameterType="com.ballchen.education.user.entity.UserBasic" >
    insert into ballchen_t_user_basic (ID, CREATE_TIME, USER_NAME,
    NICK_NAME, SEX, BIRTHDAY,
    EMAIL, ID_NUMBER, PHONE,
    HOME_PHONE, ACCOUNT_ID, MARK,REAL_NAME_VALID,DENIED,DENIED_REASON
    DESCRIPTION)
    values (#{id,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{userName,jdbcType=VARCHAR},
    #{nickName,jdbcType=VARCHAR}, #{sex,jdbcType=BIT}, #{birthday,jdbcType=TIMESTAMP},
    #{email,jdbcType=VARCHAR}, #{idNumber,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR},
    #{homePhone,jdbcType=VARCHAR}, #{accountId,jdbcType=VARCHAR}, #{mark,jdbcType=VARCHAR},#{realNameValid,jdbcType=BIT},#{denied,jdbcType=BIT},#{deniedReason,jdbcType=VARCHAR},
    #{description,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ballchen.education.user.entity.UserBasic" >
    insert into ballchen_t_user_basic
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="userName != null" >
        USER_NAME,
      </if>
      <if test="nickName != null" >
        NICK_NAME,
      </if>
      <if test="sex != null" >
        SEX,
      </if>
      <if test="birthday != null" >
        BIRTHDAY,
      </if>
      <if test="email != null" >
        EMAIL,
      </if>
      <if test="idNumber != null" >
        ID_NUMBER,
      </if>
      <if test="phone != null" >
        PHONE,
      </if>
      <if test="homePhone != null" >
        HOME_PHONE,
      </if>
      <if test="accountId != null" >
        ACCOUNT_ID,
      </if>
      <if test="mark != null" >
        MARK,
      </if>
      <if test="realNameValid != null" >
        REAL_NAME_VALID,
      </if>
      <if test="denied != null" >
        DENIED,
      </if>
      <if test="deniedReason != null" >
        DENIED_REASON,
      </if>
      <if test="description != null" >
        DESCRIPTION,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="nickName != null" >
        #{nickName,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        #{sex,jdbcType=BIT},
      </if>
      <if test="birthday != null" >
        #{birthday,jdbcType=TIMESTAMP},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="idNumber != null" >
        #{idNumber,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="homePhone != null" >
        #{homePhone,jdbcType=VARCHAR},
      </if>
      <if test="accountId != null" >
        #{accountId,jdbcType=VARCHAR},
      </if>
      <if test="mark != null" >
        #{mark,jdbcType=VARCHAR},
      </if>
      <if test="realNameValid != null" >
        #{realNameValid,jdbcType=BIT},
      </if>
      <if test="denied != null" >
        #{denied,jdbcType=BIT},
      </if>
      <if test="deniedReason != null" >
        #{deniedReason,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        #{description,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ballchen.education.user.entity.UserBasic" >
    update ballchen_t_user_basic
    <set >
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="userName != null" >
        USER_NAME = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="nickName != null" >
        NICK_NAME = #{nickName,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        SEX = #{sex,jdbcType=BIT},
      </if>
      <if test="birthday != null" >
        BIRTHDAY = #{birthday,jdbcType=TIMESTAMP},
      </if>
      <if test="email != null" >
        EMAIL = #{email,jdbcType=VARCHAR},
      </if>
      <if test="idNumber != null" >
        ID_NUMBER = #{idNumber,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        PHONE = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="homePhone != null" >
        HOME_PHONE = #{homePhone,jdbcType=VARCHAR},
      </if>
      <if test="accountId != null" >
        ACCOUNT_ID = #{accountId,jdbcType=VARCHAR},
      </if>
      <if test="mark != null" >
        MARK = #{mark,jdbcType=VARCHAR},
      </if>
      <if test="realNameValid != null" >
        REAL_NAME_VALID = #{realNameValid,jdbcType=BIT},
      </if>
      <if test="denied != null" >
        DENIED = #{denied,jdbcType=BIT},
      </if>
      <if test="deniedReason != null" >
        DENIED_REASON = #{deniedReason,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        DESCRIPTION = #{description,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.ballchen.education.user.entity.UserBasic" >
    update ballchen_t_user_basic
    set CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
    USER_NAME = #{userName,jdbcType=VARCHAR},
    NICK_NAME = #{nickName,jdbcType=VARCHAR},
    SEX = #{sex,jdbcType=BIT},
    BIRTHDAY = #{birthday,jdbcType=TIMESTAMP},
    EMAIL = #{email,jdbcType=VARCHAR},
    ID_NUMBER = #{idNumber,jdbcType=VARCHAR},
    PHONE = #{phone,jdbcType=VARCHAR},
    HOME_PHONE = #{homePhone,jdbcType=VARCHAR},
    ACCOUNT_ID = #{accountId,jdbcType=VARCHAR},
    MARK = #{mark,jdbcType=VARCHAR},
    REAL_NAME_VALID = #{realNameValid,jdbcType=BIT},
    DENIED = #{denied,jdbcType=BIT},
    DENIED_REASON = #{deniedReason,jdbcType=VARCHAR},
    DESCRIPTION = #{description,jdbcType=LONGVARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ballchen.education.user.entity.UserBasic" >
    update ballchen_t_user_basic
    set CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
    USER_NAME = #{userName,jdbcType=VARCHAR},
    NICK_NAME = #{nickName,jdbcType=VARCHAR},
    SEX = #{sex,jdbcType=BIT},
    BIRTHDAY = #{birthday,jdbcType=TIMESTAMP},
    EMAIL = #{email,jdbcType=VARCHAR},
    ID_NUMBER = #{idNumber,jdbcType=VARCHAR},
    PHONE = #{phone,jdbcType=VARCHAR},
    HOME_PHONE = #{homePhone,jdbcType=VARCHAR},
    ACCOUNT_ID = #{accountId,jdbcType=VARCHAR},
    MARK = #{mark,jdbcType=VARCHAR},
    REAL_NAME_VALID = #{realNameValid,jdbcType=BIT},
    DENIED = #{denied,jdbcType=BIT},
    DENIED_REASON = #{deniedReason,jdbcType=VARCHAR},
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="accessOrDeniedUser" parameterType="java.util.Map">
    UPDATE ballchen_t_user_basic
    SET DENIED = #{denied,jdbcType=BIT},
    DENIED_REASON = #{deniedReason,jdbcType=VARCHAR}
    where ID IN (
    <foreach collection="ids" index="index" item="item" separator=",">
      #{item}
    </foreach>
    )
  </update>
  <!--分页-->
  <select id="getUserBasicPagination" resultMap="BaseResultMap" parameterType="java.util.Map">
    SELECT
    <include refid="Base_Column_List"/>
    FROM
    ballchen_t_user_basic
    <trim prefix="where" prefixOverrides="and |or">
      <if test="createTime != null and endTime == null" >
        AND CREATE_TIME LIKE CONCAT('%',#{createTime,jdbcType=DATE},'%' )
      </if>
      <if test="createTime !=null and endTime !=null">
        AND CREATE_TIME BETWEEN #{createTime,jdbcType=DATE} AND #{endTime,jdbcType=DATE}
      </if>
      <if test="createTime ==null and endTime !=null">
        AND CREATE_TIME LIKE CONCAT('%',#{endTime,jdbcType=DATE},'%' )
      </if>
      <if test="userName != null" >
        AND USER_NAME LIKE CONCAT('%',#{userName,jdbcType=VARCHAR},'%' )
      </if>
      <if test="nickName != null" >
        AND NICK_NAME LIKE CONCAT('%',#{nickName,jdbcType=VARCHAR},'%' )
      </if>
      <if test="sex != null">
        AND SEX = #{sex,jdbcType=BIT}
      </if>
      <if test="birthday != null and endBirthday == null" >
        AND BIRTHDAY LIKE CONCAT('%',#{birthday,jdbcType=DATE},'%' )
      </if>
      <if test="birthday !=null and endBirthday !=null">
        AND BIRTHDAY BETWEEN #{birthday,jdbcType=DATE} AND #{endBirthday,jdbcType=DATE}
      </if>
      <if test="birthday ==null and endBirthday !=null">
        AND BIRTHDAY LIKE CONCAT('%',#{endBirthday,jdbcType=DATE},'%' )
      </if>
      <if test="email != null" >
        AND EMAIL LIKE CONCAT('%',#{email,jdbcType=VARCHAR},'%' )
      </if>
      <if test="idNumber != null" >
        AND ID_NUMBER LIKE CONCAT('%',#{idNumber,jdbcType=VARCHAR},'%' )
      </if>
      <if test="phone != null" >
        AND PHONE LIKE CONCAT('%',#{phone,jdbcType=VARCHAR},'%' )
      </if>
      <if test="homePhone != null" >
        AND HOME_PHONE LIKE CONCAT('%',#{homePhone,jdbcType=VARCHAR},'%' )
      </if>
      <if test="accountId != null" >
        AND ACCOUNT_ID LIKE CONCAT('%',#{accountId,jdbcType=VARCHAR},'%' )
      </if>
      <if test="mark != null" >
        AND MARK LIKE CONCAT('%',#{mark,jdbcType=VARCHAR},'%' )
      </if>
      <if test="realNameValid != null" >
        AND REAL_NAME_VALID = #{realNameValid,jdbcType=BIT}
      </if>
      <if test="denied != null" >
        AND DENIED = #{denied,jdbcType=BIT}
      </if>
      <if test="deniedReason != null" >
        AND DENIED_REASON LIKE CONCAT('%',#{deniedReason,jdbcType=VARCHAR},'%' )
      </if>
    </trim>
    ORDER BY CREATE_TIME ${order} LIMIT #{limit,jdbcType=INTEGER} OFFSET #{offset,jdbcType=INTEGER}
  </select>
  <select id="getUserBasicPaginationCount" resultType="java.lang.Long" parameterType="java.util.Map">
    SELECT
    COUNT(*)
    FROM
    ballchen_t_user_basic
    <trim prefix="where" prefixOverrides="and |or">
      <if test="createTime != null and endTime == null" >
        AND CREATE_TIME LIKE CONCAT('%',#{createTime,jdbcType=DATE},'%' )
      </if>
      <if test="createTime !=null and endTime !=null">
        AND CREATE_TIME BETWEEN #{createTime,jdbcType=DATE} AND #{endTime,jdbcType=DATE}
      </if>
      <if test="createTime ==null and endTime !=null">
        AND CREATE_TIME LIKE CONCAT('%',#{endTime,jdbcType=DATE},'%' )
      </if>
      <if test="userName != null" >
        AND USER_NAME LIKE CONCAT('%',#{userName,jdbcType=VARCHAR},'%' )
      </if>
      <if test="nickName != null" >
        AND NICK_NAME LIKE CONCAT('%',#{nickName,jdbcType=VARCHAR},'%' )
      </if>
      <if test="sex != null">
        AND SEX = #{sex,jdbcType=BIT}
      </if>
      <if test="birthday != null and endBirthday == null" >
        AND BIRTHDAY LIKE CONCAT('%',#{birthday,jdbcType=DATE},'%' )
      </if>
      <if test="birthday !=null and endBirthday !=null">
        AND BIRTHDAY BETWEEN #{birthday,jdbcType=DATE} AND #{endBirthday,jdbcType=DATE}
      </if>
      <if test="birthday ==null and endBirthday !=null">
        AND BIRTHDAY LIKE CONCAT('%',#{endBirthday,jdbcType=DATE},'%' )
      </if>
      <if test="email != null" >
        AND EMAIL LIKE CONCAT('%',#{email,jdbcType=VARCHAR},'%' )
      </if>
      <if test="idNumber != null" >
        AND ID_NUMBER LIKE CONCAT('%',#{idNumber,jdbcType=VARCHAR},'%' )
      </if>
      <if test="phone != null" >
        AND PHONE LIKE CONCAT('%',#{phone,jdbcType=VARCHAR},'%' )
      </if>
      <if test="homePhone != null" >
        AND HOME_PHONE LIKE CONCAT('%',#{homePhone,jdbcType=VARCHAR},'%' )
      </if>
      <if test="accountId != null" >
        AND ACCOUNT_ID LIKE CONCAT('%',#{accountId,jdbcType=VARCHAR},'%' )
      </if>
      <if test="mark != null" >
        AND MARK LIKE CONCAT('%',#{mark,jdbcType=VARCHAR},'%' )
      </if>
      <if test="realNameValid != null" >
        AND REAL_NAME_VALID = #{realNameValid,jdbcType=BIT}
      </if>
      <if test="denied != null" >
        AND DENIED = #{DENIED,jdbcType=BIT}
      </if>
      <if test="deniedReason != null" >
        AND DENIED_REASON = #{deniedReason,jdbcType=VARCHAR}
      </if>
    </trim>
  </select>
</mapper>